<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
  </head>
  <body>
    <p>Welcome to APC Chat tool!</p>
    <p>To begin chatting, enter a username followed by your school name</p>
    <form action="/login" method="POST">
        Enter username, school name: <input type="text" name="username"/>
        <input type="submit" value="Login">
    </form>
  </body>
</html>
