<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
  </head>
  <body>
    <form action="/login" method="POST">
        Enter username, school name: <input type="text" name="username"/>
        <input type="submit" value="Login">
    </form>
  </body>
</html>
